<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script src="/static/js/bootstrap.js"></script>
</head>
    <body style="background-color: rgb(202, 237, 237);padding: 25px;">
        <table>
            <h3 class="text-primary">RESER PASSWORD</h3>
            <form action="{% url 'resetAction' %}" method="post">
                {% csrf_token %}
            <tr>
                <input type="hidden" name="uname" value="{{us}}" >
            </tr>
            
            <tr>
                <th>NEW PASSWORD</th>
                <td><input type="text" name="newpswd" class="form-control"id="newpswd"></td>
            </tr>
            <tr>
                <th>CONFIRM PASSWORD</th>
                <td><input type="text" name="confirmpswd" class="form-control" id="confirmpswd"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" name="reset" value="RESET" class="btn btn-info"></td>
            </tr>
        </form>
        </table>
    </body>
</html>