<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script src="/static/js/bootstrap.js"></script>
</head>
    <body style="background-color: rgb(202, 237, 237);padding: 25px;">
        <table>
            <form action="{% url 'nextAction' %}" method="post">
            {% csrf_token %}
            <h3 class="text-primary">FORGOT PASSWORD</h3>
            <tr>
                <th>USERNAME</th>
                <td><input type="text" class="form-control" name="uname"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" class="btn btn-info" value="NEXT"></td>
            </tr>
        </form>
        </table>
    </body>
</html>