<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script src="/static/js/bootstrap.js"></script>
</head>
    <body style="background-color: rgb(202, 237, 237);margin: 20px;">
        

        <h1 class="text-primary">WELCOME</h1>
        <li><a href="{% url 'login' %}">LOGIN</a></li>
        <li><a href="{% url 'register' %}">REGISTER</a></li>
        


{% if messages %}
{% for msg in messages%}
<script>
alert('{{msg}}')
</script>
{% endfor %}
{% endif%}
    
</body>
</html>